site_name: MF Tech Solutions – Documentação Oficial
site_description: Documentação técnica, estratégica e operacional da MF Tech Solutions.
site_url: https://git.mftechsolutions.pt

theme:
  name: material
  custom_dir: overrides
  language: pt
  palette:
    scheme: slate
    primary: orange
    accent: deep orange
  logo: assets/logo-laranja.png
  favicon: assets/favicon.png

nav:
  - Início: index.md
  - Casos de Uso:
      - LG Beauty & Academy – Automação Total: use-cases/lg-beauty-academy-automacao-total.md
  - Jornadas:
      - Do Zero ao Handicap Zero: jornadas/hcp-zero.md

markdown_extensions:
  - admonition
  - codehilite
  - toc:
      permalink: true
  - tables
  - footnotes
  - attr_list
  - md_in_html

plugins:
  - search
  - minify:
      minify_html: true
